@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<address>
    <strong>Marcin Krupnik</strong>   <br />
    <strong>Marcin Czarnecki</strong>   <br />
    <strong>Mariusz Hoang</strong>
</address>
